src/ConsoleClient/Service References/ServiceReferences/services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://cgeers.wordpress.com/wcf/services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://cgeers.wordpress.com/wcf/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cgeers.wordpress.com/wcf/services/Imports">
      <xsd:import namespace="http://cgeers.wordpress.com/wcf/services" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileInfo">
    <wsdl:part name="parameters" element="tns:FileInfo" />
  </wsdl:message>
  <wsdl:message name="FileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="FileReceivedInfo">
    <wsdl:part name="parameters" element="tns:FileReceivedInfo" />
  </wsdl:message>
  <wsdl:message name="FileReceivedInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:portType name="IFileUploadService">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://cgeers.wordpress.com/wcf/services/IFileUploadService/Upload" name="FileInfo" message="tns:FileInfo" />
      <wsdl:output wsaw:Action="http://cgeers.wordpress.com/wcf/services/IFileUploadService/UploadResponse" name="FileReceivedInfo" message="tns:FileReceivedInfo" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>